<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="1">

    <test name="Chrome Test">
        <parameter name="Browser" value="CHROME"/>
           <classes>
            <class name="Runners.crossBrowserTestRunner"/>
        </classes>
    </test>
    
     <test name="Firefox Test">
        <parameter name="Browser" value="Edge"/>
        <classes>
            <class name="Runners.crossBrowserTestRunner"/>
        </classes>
    </test> 
   
</suite>